.fitglyph{
  font-family: 'Fitbit Icons';
  position: relative;
  top: 1px;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.fitglyph-size100:before,
.fitglyph-water-full:before {
  content: "\e600";
}
.fitglyph-water-half-only:before {
  content: "\e601";
}
.fitglyph-size0:before,
.fitglyph-glass-outline:before {
  content: "\e602";
}
.fitglyph-weeklyActivity:before,
.fitglyph-tripleWideActivity:before,
.fitglyph-goalTile:before,
.fitglyph-steps:before {
  content: "\e603";
}
.fitglyph-exercise:before {
  content: "\e604";
}
.fitglyph-activeMinutes:before {
  content: "\e605";
}
.goal .icon-glyph .fitglyph:before,
.fitglyph-calories:before,
.fitglyph-calories-burned:before {
  content: "\e606";
}
.fitglyph-distance:before {
  content: "\e607";
}
.fitglyph-floors:before {
  content: "\e608";
}
.fitglyph-heart-solid:before {
  content: "\e609";
}
.fitglyph-weight:before {
  content: "\e60a";
}
.fitglyph-settings-alt:before {
  content: "\e60b";
}
.fitglyph-foodPlanCrossed:before {
  content: "\e60c";
}
.fitglyph-foodPlan:before {
  content: "\e60d";
}
.fitglyph-sleep:before {
  content: "\e60e";
}
.fitglyph-restingHeartRate:before {
  content: "\e60f";
}
.fitglyph-badges:before {
  content: "\e610";
}
.goal .icon-glyph .fitglyph:before,
.fitglyph-premium:before,
.fitglyph-trainer:before {
  content: "\e611";
}
.fitglyph-cwProgram:before {
  content: "\e612";
}
.fitglyph-size50:before,
.fitglyph-water:before {
  content: "\e613";
}
.fitglyph-edit:before {
  content: "\e614";
}
.fitglyph-expand:before {
  content: "\e615";
}
.fitglyph-remove:before {
  content: "\e616";
}
.fitglyph-calZone .path1:before {
  content: "\e617";
  color: $darkestgray;
}
.fitglyph-calZone .path2:before {
  content: "\e618";
  margin-left: -1.0087890625em;
  color: $darkestgray;
}
.fitglyph-calZone .path3:before {
  content: "\e619";
  margin-left: -1.0087890625em;
  color: #fff;
}
.fitglyph-leaderboard:before {
  content: "\e61a";
}
.fitglyph-intradayActivities:before {
  content: "\e61b";
}
.fitglyph-calendar:before {
  content: "\e61c";
}
.fitglyph-wellness-star:before {
  content: "\e61d";
}
.fitglyph-wellness-team:before {
  content: "\e61e";
}
.fitglyph-arrow-left:before {
  content: "\e61f";
}
.fitglyph-arrow-right:before {
  content: "\e620";
}
.fitglyph-check:before {
  content: "\e621";
}
.fitglyph-star:before,
.goals .goal .star:before,
 {
  content: "\e622";
}
.fitglyph-message:before {
  content: "\e623";
}
.fitglyph-cheer:before {
  content: "\e624";
}
.fitglyph-cheered:before {
  content: "\e625";
}
.fitglyph-taunt:before {
  content: "\e626";
}
.fitglyph-taunted:before {
  content: "\e627";
}
.fitglyph-show-settings:before {
  content: "\e628";
}
.fitglyph-circle-check:before {
  content: "\e629";
}
.fitglyph-circle-ex:before {
  content: "\e62a";
}
.fitglyph-expand-tile:before {
  content: "\e62b";
}
.fitglyph-close-settings:before {
  content: "\e62c";
}
.fitglyph-add-friend:before {
  content: "\e62d";
}
.fitglyph-pinterest:before {
  content: "\e62e";
}
.fitglyph-twitter:before {
  content: "\e62f";
}
.fitglyph-facebook:before {
  content: "\e630";
}
.fitglyph-google-plus:before {
  content: "\e631";
}
.fitglyph-youtube:before {
  content: "\e632";
}
.fitglyph-instagram:before {
  content: "\e633";
}
@font-face {
  font-family: "Fitbit Icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  src: url(/fonts/552f2c8e1bc1457f4e55bc51fcb093c7.eot) format("eot");
  src: url(/fonts/552f2c8e1bc1457f4e55bc51fcb093c7.eot#iefix) format("embedded-opentype"), url(/fonts/14fa7f4a336276cd54bb1a17908524f4.woff) format("woff"), url(/fonts/6789af6d704ff3eecc9bb0a01fb31400.ttf) format("truetype"), url(/fonts/d3f64f349764b4ffebed3a23899dfff4.svg#FibitIcons) format("svg");
}
.goal {
  padding: 0;
}
.goal {
  position: relative;
  width: 100%;
  clear: both;
}
.goal .meter {
  margin: 0;
  padding: 0;
  width: 30%;
  height: auto;
  overflow: hidden;
  float: left;
  position: relative;
}

.goal .metricText {
  width: 65%;
  padding: 12px;
  text-align: left;
  float: left;
}

.goal .metricText .number{
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
}
.goal .metricText .unit{
  display: inline-block;
  margin-left: 10px;
}
