<template lang="jade">
.widget-fitbit.valign-wrapper
  img.fitbit-logo( src='/fitbit_logo.svg' alt='Fitbit')

  .content( v-if='!total_distance' )
    .message
      {{{ status_html }}}
  .content( v-if='total_distance' )
    .goal.steps
      .meter
        img.svg( src="/distance.svg" )
        .icon-image.fitglyph.fitglyph-steps.limeify.flip-back-icon
      .metricText
        .metricContainer.absoluteContainer
          .number {{ total_distance }}
          .unit passi

    .goal.floors
      .meter
        img.svg( src="/floors.svg" )
        .icon-image.fitglyph.fitglyph-floors.limeify.flip-back-icon
      .metricText
        .metricContainer.absoluteContainer
          .number {{ total_floors }}
          .unit piani

    .goal.distance
      .meter
        img.svg( src="/distance.svg" )
        .icon-image.fitglyph.fitglyph-distance.limeify.flip-back-icon
      .metricText
        .metricContainer.absoluteContainer
          .number {{ total_distance }}
          .unit km

</template>

<script>
var _wb = require( '../BaseWidget.vue' );
var updating = false;
module.exports = {
  data: function() {
    return {
      status_html: '<p>Loading data</p>',
      total_distance: 0,
      total_floors: 0,
      total_steps: 0
    }
  },
  mixins: [ _wb ],
  methods: {
    update: function() {
      if( !updating ) {
        updating = true;
        this.$http.get( '/fitbit' ).then( function( response ) {

          if(response.headers['Content-Type'].indexOf("html") > -1){
            this.status_html = response.body;
          }
          else{ //json
            var tmp_data = JSON.parse( response.body ).result;
            this.status_html = '';
            this.total_distance = tmp_data.lifetime.total.distance;
            this.total_floors = tmp_data.lifetime.total.floors;
            this.total_steps = tmp_data.lifetime.total.steps;
          }

          updating = false;
        }, function( response ) {
          console.error( '>>> ERR' );
          console.error( response );
          updating = false;
        });
      }
    }
  }
};
</script>
<style lang="css" src="./fitbit.css"></style>
<style lang="sass">
.widget-fitbit
  height: 100%
  position: relative
  img.fitbit-logo
    width: auto
    height: 30px
    position: absolute
    top: 0
    left: 0
    transform: translateX(50%)
    margin: 5px auto
  img.svg
    width: 100%
    height: auto
  .icon-image
    font-size: 2em
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    text-align: center
    line-height: 220%
  > .content
    margin-top: 50px
    width: 100%
    padding: 15px
  > .title
    position: absolute
    top: 0
    width: 100%
  strong
    font-weight: bold
  > .message
    text-align: center
    margin: 20px
  .center-align
    text-align: center
</style>
