<template lang="jade">
.widget-image.valign-wrapper
  .content.valign.center-align
    img( v-bind:src='image' v-if='image' )
</template>

<script>
var _wb = require( '../BaseWidget.vue' );
var updating = false;
module.exports = {
  mixins: [ _wb ],
  methods: {
    update: function() {
      if( this.service ) {
        if( this.service == 'robohash' ) {
          this.image = 'https://robohash.org/' + Math.random() + '.png'
        }
      }
    }
  },
  props: {
    image: {
      default: ''
    },
    service: {
      default: false
    }
  }
};
</script>

<style lang="sass">
.widget-image
  img
    width: 100%
    height: 100%
    vertical-align: top
</style>
