<template>
  <iframe id="player" type="text/html" width="640" height="390"
  src="https://www.youtube.com/embed/rhMfz4HrcEA?enablejsapi=1"
  frameborder="0"></iframe>
</template>

<script>
  var queue = [];

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  // 4. The API will call this function when the video player is ready.
  function onPlayerReady(event) {
    event.target.playVideo();
  }

  // 5. The API calls this function when the player's state changes.
  //    The function indicates that when playing a video (state=1),
  //    the player should play for six seconds and then stop.
  var done = false;
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING && !done) {
      setTimeout(stopVideo, 6000);
      done = true;
    }
  }
  function stopVideo() {
    player.stopVideo();
  }

  var _wb = require('../BaseWidget.vue');
  module.exports = {
    mixins: [_wb],
    methods: {
      update: function() {
        if (player !== undefined) {
          this.$http.get('/watch').then(function(response) {
            var ids = JSON.parse(response.body);
            if (queue.length == 0) {
              queue = ids;
              if (false) // non sta andando
                playNext();
            }
            else {
              queue = queue.concat(ids);
            }
          });
        }
      }
    }
  };
</script>

<style lang="sass" scoped>
</style>
