@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css");
body {
  font-family: Helvetica, sans-serif;
  padding: 15px 0;
  background: #222; }

.brick {
  background: #ec663c;
  height: 320px;
  overflow: hidden;
  width: 320px;
  border: 1px solid #222;
  color: #fff; }
  .brick.purple {
    background: #9c4274; }
  .brick.aqua {
    background: #12b0c5; }
  .brick.white {
    background: #fff;
    color: #000; }
  .brick.col-2 {
    width: 640px; }
  .brick.row-2 {
    height: 640px; }

#app {
  background: #222;
  margin-left: -30px;
  padding: 15px; }
