<template lang="jade">
.widget-weather.valign-wrapper
  .title.center-align
    b Weather widget
  .content.valign.center-align {{ status }}
</template>

<script>
var _wb = require( '../BaseWidget.vue' );
var updating = false;
module.exports = {
  data: function() {
    return {
      status: '-'
    }
  },
  mixins: [ _wb ],
  methods: {
    update: function() {
      if( !updating ) {
        updating = true;
        this.$http.get( '/api/v1/weather?lat=' + this.lat + '&lng=' + this.lng ).then( function( response ) {
          this.status = JSON.parse( response.body ).result;
          updating = false;
        }, function( response ) {
          console.error( '>>> ERR' );
          console.error( response );
          this.status = '-';
          updating = false;
        });
      }
    }
  },
  props: {
    lat: {
      default: 0
    },
    lng: {
      default: 0
    }
  }
};
</script>

<style lang="sass">
.widget-weather
  height: 100%
  position: relative
  > .content
    width: 100%
  > .title
    position: absolute
    top: 0
    width: 100%
</style>
