<template lang="jade">
  canvas#myChart( width="400" height="400" )
</template>

<script>
var Chart = require('chart.js/dist/Chart.bundle.min.js');

var _wb = require( '../BaseWidget.vue' );
module.exports = {
  mixins: [ _wb ],
  methods: {
    update: function() { }
  },
  props: {
    title: {
      default: ''
    }
  },
  ready: function() {
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        }
      }
    });
  }
};
</script>

<style lang="sass">
.widget-text
  height: 100%
  position: relative
  > .content
    padding: 10px
    width: 100%
  > .title
    position: absolute
    top: 0
    width: 100%
</style>
