<!DOCTYPE html>
<html>
  <head>
    <title>Hello Vue</title>
    <style>
      #app div {
        background: url(http://www.writecamp.org/writecamp//files/copy_images/Vd3MJo.jpg);
        background-repeat: no-repeat;
        width: 775px;
        height: 550px;
        text-align: center;
        line-height: 550px;
      }

      #app p {
        bottom: 0px;
        color: white;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        font-size: 2.5em;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        margin: 0px 10px;
        text-shadow: 0px 0px 1px #000000;
      }
    </style>
  </head>
  <body>

    <div id="app">
      <div>
        <p>{{ mex }}</p>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
    $.getJSON('http://api.icndb.com/jokes/random?limitTo=[nerdy]&escape=javascript', function(data) {
      var joke = data.value.joke;
      var vue = new Vue({
        el: '#app',
        data: {
          mex: joke
        }
      });
    });
    </script>

  </body>
</html>
