<template lang="jade">
.widget-chuck.valign-wrapper
  p(v-if='joke') {{ joke }}
</template>

<script>
var _wb = require('../BaseWidget.vue');
module.exports = {
  mixins: [_wb],
  methods: {
    update: function() {
      this.$http.get('/chuck').then(function(response) {
        this.joke = JSON.parse(response.body).result.value.joke;
      }, function( response ) {
        console.error( '>>> ERR' );
        console.error( response );
        updating = false;
      });
    }
  },
  props: {
    joke: {
      default: ''
    }
  }
}
</script>

<style lang="sass" scoped>

.widget-chuck
  background: url(http://www.writecamp.org/writecamp//files/copy_images/Vd3MJo.jpg)
  background-size: cover
  background-position: center center
  text-align: center
  width: 100%
  height: 100%

  p
    bottom: 0px
    color: white
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
    font-weight: 300
    font-size: 2.0em
    display: inline-block
    vertical-align: middle
    line-height: normal
    margin: 0px 10px
    text-shadow: 0px 1px 1px #000000
</style>
