<script>
//var _wb = require( './WidgetBase.vue' );
var updating = false;
module.exports = {
  data: function() {
    return {
      items: []
    }
  },
  template: require('../views/widget_table.html'),
  style: require('../css/widget_table.sass')
  methods: {
    update: function() {
      if( !updating ) {
        updating = true;
        this.$http.get( '/articles.json' ).then( function( response ) {
          this.items = JSON.parse( response.body );
          updating = false;
        }, function( response ) {
          console.error( '>>> ERR' );
          console.error( response );
          updating = false;
        });
      }
    }
  },
  mixins: [ _wb ],
  ready: function() {
    console.log( '[WidgetTable READY]' );
  },
};
</script>

<style lang="sass">
.widget-table
  color: #008
</style>
