<template lang="jade">
.widget-text.valign-wrapper
  .title.center-align( v-if='title' )
    b {{ title }}
  .content.valign.center-align
    slot
</template>

<script>
var _wb = require( '../BaseWidget.vue' );
module.exports = {
  mixins: [ _wb ],
  methods: {
    update: function() { }
  },
  props: {
    title: {
      default: ''
    }
  }
};
</script>

<style lang="sass">
.widget-text
  height: 100%
  position: relative
  > .content
    padding: 10px
    width: 100%
  > .title
    position: absolute
    top: 0
    width: 100%
</style>
