<template lang="jade">
.widget-table
  table.bordered.striped.centered
    thead
      tr
        th Title
        th Category
        th Description
        th DateTime
    tbody
      tr( v-for="item in items" )
        td {{ item.title }}
        td {{ item.category }}
        td {{ item.description }}
        td {{ item.dt }}
</template>

<script>
var _wb = require( '../BaseWidget.vue' );
var updating = false;
module.exports = {
  data: function() {
    return {
      items: []
    }
  },
  methods: {
    update: function() {
      if( !updating ) {
        updating = true;
        this.$http.get( '/articles.json' ).then( function( response ) {
          this.items = JSON.parse( response.body );
          updating = false;
        }, function( response ) {
          console.error( '>>> ERR' );
          console.error( response );
          updating = false;
        });
      }
    }
  },
  mixins: [ _wb ],
  ready: function() {
    console.log( '[WidgetTable READY]' );
  },
};
</script>

<style lang="sass">
.widget-table
  color: #008
</style>
