<template lang="jade">
.widget-meme.valign-wrapper
  img( v-bind:src='image_url' v-if='image_url' )
  h2( v-if='!image_url' ) Loading image...

</template>

<script>
var _wb = require( '../BaseWidget.vue' );
var updating = false;
module.exports = {
  mixins: [ _wb ],
  methods: {
    update: function() {
      this.$http.get( '/meme' ).then( function( response ) {
        this.image_url = JSON.parse( response.body ).result;
        updating = false;
      }, function( response ) {
        console.error( '>>> ERR' );
        console.error( response );
        updating = false;
      });
    }
  },
  props: {
    image_url: {
      default: ''
    }
  }
};
</script>

<style lang="sass" scoped>
.widget-meme
  width: 100%
  height: 100%
  h2
    text-align: center
  img
    width: auto
    height: 100%
    max-height: none
    max-width: none
    vertical-align: top
</style>
