/ app

#app
  .freewall
    .brick
      widget-image( service='robohash' )
    .brick
      widget-text( title='A title...' )
        | Some other content...
    .brick.white
      widget-chuck
    .brick.aqua
      widget-table
    .brick.purple
      widget-text
        | Hey! Try with Firefox, scrollbars are always visible! We need something better
    .brick
      widget-weather( lat='45.5582' lng='11.5419' )
    .brick.col-2.row-2
      widget-meme
    .brick.purple
      widget-text
        | Line 1
        br
        | Line 2
        br
        | Line 3
    .brick
      widget-image( image='https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/1000px-Ruby_logo.svg.png' )
    .brick.aqua
      widget-text( title='Just a title' )
    .brick.white
      widget-chart
    .brick.col-2.row-2
      widget-youtube
