doctype html
html
  head
    meta charset='UTF-8'
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title Dashboard
    link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"
    link href="/css/main.css" rel="stylesheet"
  body
    .container-fluid
      == yield
    script src='/js/app.js'
